*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


nav .nav-item .nav-link{
  color: rgb(227, 227, 235);
}
nav .nav-item .active_class{
  color: rgb(206, 179, 30);
}

footer{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: lightgray;
}
